body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

canvas {
  background: #87ceeb;
  border: 3px solid black;
  display: block;
  margin: 10px auto;
}

#score {
  font-size: 20px;
  margin-bottom: 5px;
}

#jumpBtn {
  display: none;
  width: 90px;
  margin: 10px auto;
}

/* show button only on mobile */
@media (max-width: 768px) {
  #jumpBtn {
    display: block;
  }
}
