* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background: linear-gradient(#87ceeb, #bfe9ff);
    border: 3px solid #000;
    max-width: 100%;
    max-height: 100%;
    touch-action: none; /* IMPORTANT for mobile jump */
}
