body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #eaeaea;
}

canvas {
    background: #87ceeb;
    border: 2px solid #000;
}

/* JUMP BUTTON */
#jumpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px 30px;
    font-size: 22px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    z-index: 999;
}

/* SHOW ONLY ON MOBILE */
@media (max-width: 768px) {
    #jumpBtn {
        display: block;
    }
}

        
    
